cmake-build*/
.idea/
.vscode/
.tau/
output/
build/
tmp/
libs/
libs*/
doxygen_log.txt
test*.config
*.log
*.err
.directory
batch_scripts/logs/*
batch_scripts/input/*
batch_scripts/output/*
batch_scripts/bunch/*
__pycache__/
*.pyc

docs_rtd/_build
# wherever you told breathe_projects to look
docs_rtd/doxyoutput
# wherever you told Exhale containmentFolder is
docs_rtd/api
